# Ignore CSV files
*.csv

# Ignore TXT files
*.txt

# Exceptions can be added with !
# For example, if you want to include specific .txt files:
# !important_file.txt

# Common Python excludes
.idea/  # Ignore all files in the .idea directory (PyCharm settings)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg